@page {
  background: #f0f7ff;  /* fond noir sur toute la page */
  margin: 20mm 15mm;    /* marges identiques à celles du JSON */
}

/* Base du texte */
body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-size: 10.5pt;
  background-color: #f0f7ff; /* bleu très très clair */
  color: #333333; 
  margin: 0 auto;
  padding: 0 10mm;
  max-width: 100%;
  box-sizing: border-box;
  text-align: justify;
  hyphens: auto; 
}

/* Titres avec bonne hiérarchie visuelle */
h1 {
  font-size: 22pt;
  margin-top: 50px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  page-break-before: always;
}
h2 {
  font-size: 16pt;
  margin-top: 35px;
  margin-bottom: 10px;
}
h3 {
  font-size: 13pt;
  margin-top: 25px;
  font-weight: bold;
}

h4 {
  font-size: 12pt;
  margin-top: 20px;
  font-weight: bold;
}

ol > li {
  font-weight: bold;
}

/* Liens discrets */
a {
  color: #46aaa7; /* bleu/gris élégant */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin: 16px auto;              /* centre horizontalement */
  max-width: 100%;
  max-height: 396px;              /* environ 50% d'une page A4 */
  height: auto;
  page-break-inside: avoid;
  break-inside: avoid;
}

pre, code {
  background-color: #1e1e1e;     
  color: #dcdcdc;                
  font-family: Consolas, "Courier New", monospace;
  font-size: 9.5pt;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  page-break-inside: avoid;
}

code {
  background-color: #2d2d2d;
  color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
}

.note {
  border-left: 4px solid #ff7b00;
  padding: 1em;
  background: #ffe07c;
  margin: 1em 0;
  page-break-inside: avoid
}